@function em( $target, $context: $base-font-size ) {
    @return ( $target / $context ) * 1em;
}

@function grid( $width, $context: $base ) {
    @return percentage( $width / $context );
}

@function get-vw-project($target) {
	$vw-context: ($project * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-tablet($target) {
	$vw-context: ($tablet * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-tablet-portrait($target) {
	$vw-context: ($tablet_portrait * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-smartphone($target) {
	$vw-context: ($smartphone * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-smartphone-portrait($target) {
	$vw-context: ($smartphone_portrait * 0.01);
	@return ($target / $vw-context) * 1vw;
}
