body {
	line-height: 1.3;
	letter-spacing: 1px;
	text-rendering: optimizeSpeed;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $book;
	}
	color: $c-black;
}

a {
	//@extend %anim;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	
	&:hover,
    &:active,
    &:focus {
        //color: inherit;
        outline: none;
    }
    
    &:after, &:before {
	    @extend %anim;
    }
    
    i {
	    @extend %anim;
    }
}

br {
	@media screen and ( max-width: $smartphone + px ) {
		display: none;
	}
}
/*

h5 {
	margin-bottom: 16px;
	text-transform: uppercase;
	font: {
		size: 18px;
		weight: $bold;
	}
}
*/


hr {
	width: 480px;
	height: 4px;
	background-color: $c-black;
	margin-bottom: 30px;
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		width: 100%;
	}
	
}

strong {
	font-weight: $bold;
}

sup {
	font-size: em(10);
	vertical-align: top;
}

::selection {
	background-color: $primary-color;
	color: white;
}