[class^="icon-"], [class*=" icon-"] {
	@include icomoon;
}

.bordered {
	border-bottom: 4px solid $c-black;
}

.is-fixed {
	position: fixed;
}



.is-hidden {
	//opacity: 0;
}

.no-scroll {
	overflow: hidden;
	position: fixed;
}


.pull-right {
	float: right !important;;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-uppercase {
	text-transform: uppercase;
}

/* IE */

@media screen and (max-width:400px) {
    @-ms-viewport{
        width:320px;
    }
}

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

