[class^="icon-"], [class*=" icon-"] {
	@include icomoon;
}

[class^="icon2-"], [class*=" icon2-"] {
	font-family: 'icomoon2' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bordered {
	border-bottom: 3px solid $c-black;
}

.is-fixed {
	position: fixed;
}



.is-hidden {
	//opacity: 0;
}

.margin-bottom-5 {
	margin-bottom: 5px !important;
}

.no-scroll {
	overflow: hidden;
	position: fixed;
}


.pull-right {
	float: right !important;;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-uppercase {
	text-transform: uppercase;
}

/* IE */

@media screen and (max-width:400px) {
    @-ms-viewport{
        width:320px;
    }
}

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

