.o-btn {
	@extend %antialias;
	@extend %rel;
	//@extend %anim;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	height: 44px;
	white-space: nowrap;
	padding: 0 30px;
	font: {
		family: $serif;
		size: em(13);
		weight: $bold;
	}
	
	@media screen and ( max-width: $smartphone + px ) {
		span i {
			display: none;
		}
	}
	
	@media screen and ( max-width: $smartphone_portrait + px ) {
		height: 38px;
		font-size: em(11);		
	}

	&--arrow {
		padding: 0 20px 0 30px;
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			padding: 0 10px 0 20px;
		}
		
		span {
			&:after {
				padding-left: 6px;
				content: '>>';
			}
		}
		
		&.triple {
			span {
				&:after {
					content: '>>>';
				}
			}
		}
	}
	
	&--black {
		background-color: $c-black;
		color: white;
		
		&:after {			
			@media screen and ( max-width: $smartphone_portrait + px ) {
				top: 5px; right: -14px;
			}
		}
		
		&.o-btn--triangleFill {
			&:after {
				background-color: $c-black;			
			}
		}
		
		&:hover {
			background-color: darken($c-black, 10%);
		
			&:after {
				background-color: darken($c-black, 10%);
			}
		}
	}
	
	&--blue {
		background-color: $c-blue;
		
		&.o-btn--triangleFill {
			&:after {
				background-color: $c-blue;			
			}
		}
		
		&:hover {
			background-color: darken($c-blue, 10%);
		
			&:after {
				background-color: darken($c-blue, 10%);
			}
		}
	}
	
	&--blueframe {
		border: 3px solid $c-blue;
		
		&:after {
			
		}
		
		&:after,
		&:before {
			background-color: $c-blue;
		}
		
		&:hover {
			//background-color: $c-blue;
			color: $c-blue;
			
			&:after {
				background-color: $c-blue;
			}
		}
	}
	
	&--triangle {
		border-right: none;
		
		&:after,
		&:before {
			@extend %abs-after;
			right: -28px;
			width: 29px;
			height: 3px;
		}
	
		&:after {
			top: -3px;			
			transform-origin: left;
			transform: rotate(47deg);
		}
		
		&:before {
			bottom: -3px;
			transform-origin: left;
			transform: rotate(-47deg);
		}
	}
	
	&--triangleFill {
		&:after {
			@extend %abs-after;
			top: 7px; right: -15px;
			width: 30px; height: 30px;
			background-color: $c-blue;			
			transform: scaleX(.7) rotate(45deg);
			
			@media screen and ( max-width: $smartphone_portrait + px ) {
				width: 27px; height: 27px;
			}
		}

	}
}

button.o-btn {
	font-size: em(15);
}