
.icon-hamburger:before {
  content: "\e926";
}
.icon-close:before {
  content: "\e925";
}
.icon-agree:before {
  content: "\e900";
}
.icon-automation-integration .path1:before {
  content: "\e901";
  color: rgb(35, 31, 32);
}
.icon-automation-integration .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-automation-integration .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-automation-integration .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-automation-integration .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-automation-integration .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-automation-integration .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-automation-integration .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-automation-integration .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-automation-integration .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-automation-integration .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-automation-without:before {
  content: "\e90c";
}
.icon-automation:before {
  content: "\e90d";
}
.icon-business:before {
  content: "\e90e";
}
.icon-calc:before {
  content: "\e90f";
}
.icon-company:before {
  content: "\e910";
}
.icon-compliance:before {
  content: "\e911";
}
.icon-control:before {
  content: "\e912";
}
.icon-costs:before {
  content: "\e913";
}
.icon-director:before {
  content: "\e914";
}
.icon-document:before {
  content: "\e915";
}
.icon-easy:before {
  content: "\e916";
}
.icon-expenses:before {
  content: "\e917";
}
.icon-growing:before {
  content: "\e91b";
}
.icon-integration:before {
  content: "\e91c";
}
.icon-international:before {
  content: "\e91d";
}
.icon-it:before {
  content: "\e91e";
}
.icon-machine-learning:before {
  content: "\e91f";
}
.icon-mobile:before {
  content: "\e920";
}
.icon-other:before {
  content: "\e921";
}
.icon-safe:before {
  content: "\e922";
}
.icon-transparency:before {
  content: "\e923";
}
.icon-triangle:before {
  content: "\e924";
}
