
.icon-agree:before {
  content: "\e900";
}
.icon-automation-integration:before {
  content: "\e901";
}
.icon-automation-without:before {
  content: "\e902";
}
.icon-automation:before {
  content: "\e903";
}
.icon-business:before {
  content: "\e904";
}
.icon-calc:before {
  content: "\e905";
}
.icon-company:before {
  content: "\e906";
}
.icon-compliance:before {
  content: "\e907";
}
.icon-control:before {
  content: "\e908";
}
.icon-costs:before {
  content: "\e909";
}
.icon-director:before {
  content: "\e90a";
}
.icon-document:before {
  content: "\e90b";
}
.icon-easy:before {
  content: "\e90c";
}
.icon-expenses:before {
  content: "\e90d";
}
.icon-growing:before {
  content: "\e90e";
}
.icon-integration:before {
  content: "\e90f";
}
.icon-international:before {
  content: "\e910";
}
.icon-it:before {
  content: "\e911";
}
.icon-machine-learning:before {
  content: "\e912";
}
.icon-mobile:before {
  content: "\e913";
}
.icon-other:before {
  content: "\e914";
}
.icon-safe:before {
  content: "\e915";
}
.icon-transparency:before {
  content: "\e916";
}
.icon-hamburger:before {
  content: "\e926";
}
.icon-close:before {
  content: "\e925";
}
.icon-triangle:before {
  content: "\e924";
}
