.o-list {
	@extend %list;
	
	li {
		line-height: 1.6;
		letter-spacing: 1.2px;
	}
	
	&--black {
		@extend %list--black;
	}
	
	&--blue {
		@extend %list--blue;
	}
	
	&--strong {
		> li {
			@extend %antialias;
			text-transform: uppercase;
			font-size: em(15);
			font-weight: $bold;
			margin-bottom: 20px;
			
			a {
				&:hover {
					color: $c-blue;
				}
			}
		}
	}
	
	&--white {
		@extend %list--white;
	}
}