.c-blocks {
	display: flex;
	flex-direction: column;
    overflow: hidden;

	&__col {
		@extend %rel;
		
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			float: left;
			width: 50%;
		}
		
		img {
			//@media screen and ( min-width: 1191px ) {
			//	width: 100%;
			//	height: auto;
			//}
			
			/*
@media screen and ( min-width: 1347px ) {
				width: 100%;
				height: auto;
			}
			
			@media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: 1346px ) {
				position: absolute;
				top: 0;
				height: 100%;
				width: auto;
				max-width: none;
			}
			
*/
			@media screen and ( min-width: $tablet_portrait + 1px ) {
				display: none;
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				display: block;
				width: 100%;
			}			
		}
		
		article {
			//padding: 150px 80px;
			padding: get-vw-project(150) grid(80, 683);
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				padding-bottom: 40px;
			}
			
		}
		
		&--photo {
			background: {
				size: cover;
				repeat: no-repeat;
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				background-image: none;
			}
		}
		
	}
	
	article {
		p {
			line-height: 1.6;
			letter-spacing: 1.2px;
		}
	}
	
	> li {
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			display: flex;
		}

		&:nth-child(even) {
			background-color: #212323;
			color: white;
			
			.c-blocks__col--photo {
				background-position: left bottom;
			}
			
			@media screen and ( min-width: $tablet_portrait + 1px ) {
				flex-direction: row-reverse;
			}			    			
			
			.c-blocks__col {
				img {
					@media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: $project + px ) {
						right: 0;
					}
				}
			}
		}
		
		&:nth-child(odd) {
		
			.c-blocks__col {
			
				&--photo {
					background-position: right bottom;
				}
			
				img {
					@media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: $project + px ) {
						left: 0;
					}
				}
			}
		}
	}
}
