.c-blocks {
	//@extend %clear;
	@extend %flex;
	flex-direction: column;
    
	&__col {
		
		@extend %rel;
		float: left;
		width: 50%;
		
		img {
			@media screen and ( min-width: $project + px ) {
				width: 100%;
			}
			
		}
		
		article {
			padding: 150px 80px;
		}
		
	}
	
	article {
		p {
			line-height: 1.5;
		}
	}
	
	> li {
		@extend %flex;

		&:nth-child(even) {
			flex-direction: row-reverse;			    
			background-color: #212323;
			color: white;
		}
	}
}
