.c-cookies {
	@extend %anim;
	position: fixed;
	left: 0; bottom: 0;
	z-index: 60;
	width: 100%;
	color: black;
	
	&.is-hidden {
		transform: translateY(100px);
	}

	&__info {
		float: left;
		font: {
			size: em(13);
			weight: $light;
		}
	}
	
	&__agree {
		float: right;
		cursor: pointer;
	}
	
	input[type=checkbox] {

		& + label {
	
			span {
				padding-left: 5px;
				font: {
					family: $serif;
					size: em(13);
				}
			}
		}
	}
}