// Colors

$c-black:			#3b3c3d;

$c-blue--dark:		#1a1f21;
$c-blue:			#5bc4d0;
$c-blue--brighter:	#7ad0e0;
$c-blue--brightest:	#83deea;


$c-gray:			#c9d7dc;
$c-gray--brighter:	#d5dee3;
$c-gray--darker:	#dfe7ea;

$c-red:				#5f021f;



$primary-color: 	$c-blue;


/*

$c-green--brighter:	#a6e60d;
$c-green:			#a9eb0a;
$c-green--darker:	#9dd614;
$c-green--darkest:	#78982a;


$c-gray--darkest:	#565656;
$c-gray--darker:	#676767;
$c-gray:			#888;
$c-gray--brighter:	#bfbfbf;
$c-gray--brightest:	#dedede;



$c-white--darker:	#f7f7f7;
*/