// Fonts

$serif:			'PretoSerifRegular', serif;
$sans-serif:	'UniSans', sans-serif;

$text:			$sans-serif;


// Font weights

$thin:				100;
$book:				200;
$light:				300;
$regular:			400;
$bold:				700;
$heavy:				900;

// Default

$base-font-size:	15;
$base:				1126;
$project:			1366;


// Width

$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			640;
$smartphone_portrait:	375;